@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

html {
	scrollbar-gutter: stable;
}

.zoom-half {
	zoom: 0.5;
}

.zoom-sixth {
	zoom: 0.16667;
}
